* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'RobotoSlabRegular', 'Arial', sans-serif;
  color: white;
  font-size: 16px;
  background-color: #454545;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

:focus, a:active, a:hover {
  outline: 0;
}

::selection {
  background: #EEA200;
  color: #fff;
}

::-moz-selection {
  background: #EEA200;
  color: #fff;
}

::-webkit-selection {
  background: #EEA200;
  color: #fff;
}