* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'RobotoSlabRegular', 'Arial', sans-serif;
	font-size: 13px;
	color: white;
	background-color: #454545;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

:focus,
a:active,
a:hover {
	outline: 0;
}

@font-face {
	font-family: 'RobotoSlabRegular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoSlabRegular/RobotoSlabRegular.eot');
	src: url('../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlabRegular/RobotoSlabRegular.woff') format('woff'), url('../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoSlabLight';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoSlabLight/RobotoSlabLight.eot');
	src: url('../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlabLight/RobotoSlabLight.woff') format('woff'), url('../fonts/RobotoSlabLight/RobotoSlabLight.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoSlabBold';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/RobotoSlabBold/RobotoSlabBold.eot');
	src: url('../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlabBold/RobotoSlabBold.woff') format('woff'), url('../fonts/RobotoSlabBold/RobotoSlabBold.ttf') format('truetype');
}

.hvr-sweep-to-right {
	position: relative;
	display: inline-block;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	vertical-align: middle;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 1px transparent;
	box-shadow: 0 0 1px transparent;
}

.hvr-sweep-to-right:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	border-radius: 10px;
	background: white;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	color: #eea200;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.offer {
	position: relative;
	width: 100%;
	height: 749px;
	text-align: center;
	background: url('../img/offer/sliderf.jpg') no-repeat center;
	background-size: cover;
}

.offer__header {
	position: absolute;
	top: 66px;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 1200px;
	height: 90px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: white;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.offer__container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1200px;
	margin: 0 auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.offer__box {
	font-size: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	color: #262626;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.offer__box--one {
	font-size: 13px;
	flex-direction: column;
	padding-right: 20px;
	padding-left: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.offer__box--three {
	margin-left: auto;
	padding-right: 20px;
}

.offer__desc {
	color: black;
}

.offer__link {
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
	color: #eea200;
}

.offer__link:hover {
	color: #d59100;
}

.offer__title {
	font-size: 46px;
	text-align: center;
	text-transform: uppercase;
}

.offer__selection {
	color: #eea200;
}

a.offer__btn--big {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 50px;
	padding: 20px 80px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	border-radius: 10px;
}

.offer__work {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.offer__holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.offer__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 90px;
	height: 90px;
	padding-bottom: 20px;
	border-radius: 10px;
	background-color: #eea200;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.offer__subject {
	font-size: 17px;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

.pure-button {
	line-height: normal; /* Structure */
	display: inline-block;
	zoom: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-user-drag: none;
}

/* Firefox: Get rid of the inner focus border */

.pure-button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Inherit .pure-g styles */

.pure-button-group {
	letter-spacing: -.31em; /* Webkit: collapse white-space between units */
	*letter-spacing: normal; /* reset IE < 8 */
	*word-spacing: -.43em; /* IE < 8: collapse white-space between units */
	text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
	word-spacing: -.43em;
}

.pure-button-group .pure-button {
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
}

/*csslint outline-none:false*/

.pure-button {
	font-family: inherit;
	font-size: 100%;
	padding: .5em 1em;
	text-decoration: none;
	color: #444; /* rgba not supported (IE 8) */
	color: rgba(0, 0, 0, .8); /* rgba supported */
	border: 1px solid #999; /*IE 6/7/8*/
	border: none transparent;
	border-radius: 2px; /*IE9 + everything else*/
	background-color: #e6e6e6;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus { /* csslint ignore:end */
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
	background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1)); /* csslint ignore:start */
	filter: alpha(opacity=90);
}

.pure-button:focus {
	outline: 0;
}

.pure-button-active,
.pure-button:active {
	border-color: #000\9;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
	cursor: not-allowed;
	pointer-events: none; /* csslint ignore:end */
	opacity: .40;
	border: none;
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none; /* csslint ignore:start */
	filter: alpha(opacity=40);
}

.pure-button-hidden {
	display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
	color: #fff;
	background-color: #eea200;
}

/* Button Groups */

.pure-button-group .pure-button {
	margin: 0;
	border-right: 1px solid #111; /* fallback color for rgba() for IE7/8 */
	border-right: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0;
}

.pure-button-group .pure-button:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
	border-right: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

