.offer {
  height: auto;
  width: 100%;
  background: url('../img/offer/sliderf.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.offer__wrap {
  padding-top: 66px;
  padding-bottom: 66px;
}

.offer__header {
  width: 1200px;
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
}

.offer__container {
  width: 1200px;
  margin: 0 auto;
}

.offer__box {
  height: 100%;
  color: #262626;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.offer__box--one {
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.offer__box--three {
  margin-left: auto;
  padding-right: 20px;
}

.offer__desc {
  color: black;
}

.offer__link {
  color: $color-yellow-black;
  transition: all ease-in-out 0.5s;
  font-size: 23px;
  font-weight: bold;
  &:hover {
    color: darken($color-yellow-black, 5%);
  }
}

.offer__title {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.offer__selection {
  color: $color-yellow-black;
}

.offer__work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 905px;
  margin: 0 auto;
}

.offer__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  width: 170px;
}

.offer__icon {
  width: 90px;
  height: 90px;
  background-color: $color-yellow-black;
  display: flex;
  justify-content: center;
  //padding-bottom: 20px;
  align-items: center;
  border-radius: 10px;
}

.offer__subject {
  font-size: 17px;
  padding-top: 15px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .offer {
    height: auto;
  }
  .offer__wrap {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .offer__header {
    width: 100%;
  }
  .offer__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .offer__work {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .offer {
    height: auto;
  }
  .offer__wrap {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .offer__header {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding-top: 30px;
  }
  .offer__box {
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .offer__container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .offer__title {
    font-size: 36px;
    width: 100%;
  }
  .offer__work {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .offer__holder {
    padding-left: 0;
    flex-direction: row;
    padding-bottom: 20px;
    width: 85%;
  }
  .offer__icon {
    margin-right: 20px;
  }
  .offer__subject {
    text-align: left;
    font-size: 22px;
    padding-top: 0;
  }
}