.repairs {
  height: auto;
  width: 100%;
  background: url('../img/info/slide.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

.repairs__wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 91px;
}

.repairs__title {
  font-size: 42px;
  padding-bottom: 69px;
}

.repairs__title {
  font-size: 46px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.repairs__selection {
  color: white;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .repairs__wrap {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .repairs__wrap {
    width: 100%;
    padding: 70px 10px 90px 10px;
  }
  .repairs__title {
    font-size: 36px;
  }
}