.reviews {
  background-color: #FCFCFC;
  color: #262626;
  display: none;
}

.reviews__wrap {
  width: 1200px;
  padding-top: 44px;
  padding-bottom: 44px;
  margin: 0 auto;
  text-align: center;
}

.reviews__title {
  font-size: 42px;
  padding-bottom: 40px;
}

.reviews__picture {
  height: 85px;
  width: 85px;
  padding-bottom: 7px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  opacity: .5;
  color: $color-yellow-black;
  transition: all 0.7s ease;
  &:hover {
    opacity: 1;
  }
}

.reviews__box {
  position: relative;
}

.reviews__picture--active {
  opacity: 1;
  transition: all 0.7s ease;
  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: $color-yellow-black;
    height: 5px;
  }
}

.reviews__img {
  width: 100%;
  //height: 100%;
  object-fit: cover;
}

.reviews__inner {
  display: flex;
  flex-direction: row;
  background-color: $color-yellow-black;
  justify-content: center;
}

.reviews__name {
  font-weight: bold;
  padding-bottom: 15px;
  color: $color-yellow-black;
}

.reviews__wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.reviews__holder {
  background-color: darken(#F7F7F7, 5%);
  padding: 20px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 5px;
  z-index: 0;
}

.reviews__quote-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #DCDCDC;
  z-index: -1;
}

.reviews__quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #DCDCDC;
  z-index: -1;
}

.reviews__label {
  font-weight: bold;
  color: $color-yellow-black;
  padding-bottom: 10px;
}

.reviews__text {
  padding-bottom: 10px;
}

.reviews p {
  margin-bottom: 10px;
}

.reviews__section {
  text-align: left;
}

.reviews__col--one {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.reviews__col--two {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  flex: 1;
}

.reviews__col--three {
  text-align: left;
  flex: 2;
}

.reviews__text ul li::before {
  content: "•";
  color: $color-yellow-black;
  display: inline-block;
  width: 1em;
  margin-left: 0;
}

.reviews__cube {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.reviews__row {
  height: 35px;
  width: 50%;
  text-align: center;
  padding-top: 7px;
}

.reviews__row--one {
  background-color: white;
  color: black;
}

.reviews__row--two {
  background-color: $color-yellow-black;
}

.reviews__coc {
  width: 400px;
  height: 300px;
}

.reviews__slider {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.reviews__slider .slick-next:before, .reviews__slider .slick-prev:before {
  color: #DCDCDC;
}

.reviews__slider .slick-next:before, .reviews__slider .slick-prev:before {
  font-size: 40px;
}

.reviews__slider .slick-next, .reviews__slider .slick-prev {
  width: 40px;
  height: 40px;
}

.reviews__slider .slick-next {
  right: -50px;
}

.reviews__slider .slick-prev {
  left: -50px;
}

.reviews__container {
  padding-bottom: 40px;
  //display: none;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .reviews__wrap {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .reviews__slider {
    width: 85%;
    height: auto;
  }
  .reviews__wrapper {
    flex-direction: column;
  }
  .reviews__coc {
    width: 100%;
    height: auto;
  }
  .reviews__cube {
    width: 100%;
  }
  .reviews__col--one {
    padding-bottom: 20px;
  }
  .reviews__col--two {
    padding-left: 0;
    padding-right: 0;
  }
  .reviews__row {
    font-size: 12px;
  }
  .reviews__holder svg.fa-4x {
    font-size: 3em;
  }
}

@media only screen and (max-width: 767px) {
  .reviews__wrap {
    width: 100%;
    padding: 70px 10px 40px 10px;
  }
  .repairs__title {
    font-size: 36px;
  }
  .reviews__slider {
    width: 85%;
    height: auto;
  }
  .reviews__wrapper {
    flex-direction: column;
  }
  .reviews__coc {
    width: 100%;
    height: auto;
  }
  .reviews__cube {
    width: 100%;
  }
  .reviews__col--one {
    padding-bottom: 20px;
  }
  .reviews__col--two {
    padding-left: 0;
    padding-right: 0;
  }
  .reviews__row {
    font-size: 12px;
  }
  .reviews__holder svg.fa-4x {
    font-size: 2em;
  }
  .reviews__slider .slick-next:before, .reviews__slider .slick-prev:before {
    font-size: 20px;
  }

  .reviews__slider .slick-next, .slick-prev {
    width: 20px;
    height: 20px;
  }

  .reviews__slider .slick-next {
    right: -25px;
  }

  .reviews__slider .slick-prev {
    left: -25px;
  }
}