.timeline {
  background-color: #FCFCFC;
  color: #444444;
}

.timeline__wrap {
  width: 1200px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
  text-align: center;
}

.timeline__title {
  font-size: 42px;
  padding-bottom: 40px;
}

.timeline_items {
  padding-top: 9px
}

.timeline_items li {
  margin: 0 !important;
  list-style: none !important;
  //width: 45%;
  padding: 0 0 25px 55%;
  position: relative;
  background: url('../img/timeline/timeline_right.png') no-repeat top center
}

.timeline_items li:nth-child(even) {
  padding: 0 55% 25px 0;
  background: url('../img/timeline/timeline_left.png') no-repeat top center
}

.timeline_items li h3 {
  font-size: 30px;
  line-height: 35px;
  text-align: left;
}

.timeline_items li h3 span {
  position: absolute;
  right: 55%;
  top: 8px
}

.timeline_items li h3:before {
  content: "";
  width: 15px;
  height: 15px;
  border: #eea200 solid 4px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -7px;
  display: block;
  z-index: 1;
}

.timeline_items li:nth-child(even) h3 {
  text-align: right
}

.timeline_items li:nth-child(even) h3 span {
  left: 55%;
  right: auto
}

.timeline_items li:nth-child(even) .desc {
  text-align: right
}

.timeline_items li:nth-child(odd) .desc {
  text-align: left
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .timeline__wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .timeline__wrap {
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
  }
  .timeline_items li {
    background: none;
    padding: 0 0 25px 10%;
  }
  .timeline_items li:nth-child(even) {
    background: none;
    padding: 0 0 25px 10%;
  }
  .timeline_items li h3:before {
    left: 4%;
  }
  .timeline_items li:nth-child(even) h3 {
    text-align: left;
  }
  .timeline_items li:nth-child(even) .desc {
    text-align: left;
  }
  .timeline_items li h3{
    font-size: 25px;
  }
}