.work {
  background-color: #454545;
  //display: none;
}

.work__wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.work__title {
  font-size: 42px;
  padding-bottom: 40px;
}

.work__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work__box {
  display: flex;
  flex-direction: row;
  width: 1050px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.work__row {
  height: 35px;
  width: 50%;
  text-align: center;
  padding-top: 7px;
}

.work__row--one {
  background-color: white;
  color: black;
  width: 501px;
}

.work__row--two {
  background-color: $color-yellow-black;
  width: 498px;
}

.work__row--space {
  display: block;
  width: 51px;
  height: 28px;
}

.work__slider {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.work__slide {
  text-align: center;
}

.work__img {
  margin: 0 auto;
}

.work__slider .slick-next:before, .work__slider .slick-prev:before {
  font-size: 40px;
}

.work__slider .slick-next, .work__slider .slick-prev {
  width: 40px;
  height: 40px;
}

.work__slider .slick-next {
  right: -50px;
}

.work__slider .slick-prev {
  left: -50px;
}

.work__subtitle {
  font-size: 18px;
}

@media only screen and (min-device-width: 768px) and (max-width: 1199px) {
  .work__wrap {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .work__slider {
    width: 85%;
    height: auto;
  }
  .work__box {
    width: 100%;
  }
  .work__row--one, .work__row--two {
    width: 49%;
  }
  .work__row--space {
    width: 5%;
  }
  .work__subtitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .work__wrap {
    width: 100%;
    padding: 70px 10px 90px 10px;
  }
  .repairs__title {
    font-size: 36px;
  }
  .work__slider {
    width: 90%;
    height: auto;
  }
  .work__box {
    width: 100%;
  }
  .work__slider .slick-next:before, .work__slider .slick-prev:before {
    font-size: 20px;
  }

  .work__slider .slick-next, .work__slider .slick-prev {
    width: 20px;
    height: 20px;
  }

  .work__slider .slick-next {
    right: -25px;
  }

  .work__slider .slick-prev {
    left: -25px;
  }
  .work__row {
    font-size: 14px;
  }

  .work__row--one, .work__row--two {
    width: 49%;
  }
  .work__row--space {
    width: 5%;
  }
  .work__subtitle {
    font-size: 16px;
  }
}